<div class="container h-100 w-100">
    <header class="nav1">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" routerLink="home" routerLinkActive="active">home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="serives" routerLinkActive="active">serives</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="singup" routerLinkActive="active">singup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="singin" routerLinkActive="active">singin</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="map" routerLinkActive="active">map</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="contactus" routerLinkActive="active">contactus</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="reactfrom" routerLinkActive="active">reactfrom</a>
            </li>
        </ul>
    </header>
    <section class="prag">

        <router-outlet></router-outlet>
    </section>

</div>