<div class="container-fulied">
    <div class="header-section">
        <h1>facebook</h1>
    </div>
    <h1 class="acc">Create a new Account</h1>

    <div class="section-right">
        <h3>its's quick and easy</h3>
        <input class="frist" type="text" placeholder="frist name" /> <input class="sure" type="text" placeholder="surname"><br>
        <input class="mn" type="text" placeholder="mobile number or email adress " width="1000px" /><br>
        <input class="pass" type="text" placeholder="password" />
        <h5 class="bri">Brithday</h5>
        <select>
            <option value="">1</option>
            <option value="">2</option>
            <option value="">3</option>
            <option value="">4</option>
            <option value="">5</option>
            <option value="">6</option>
            <option value="">7</option>
            <option value="">8</option>
            <option value="">9</option>
            <option value="">10</option>
            <option value="">11</option>
            <option value="">12</option>
            <option value="">13</option>
            <option value="">14</option>
            <option value="">15</option>
            <option value="">16</option>
        </select>
        <select>
            <option value="">months</option>
            <option value="">jan</option>
            <option value="">fed</option>
            <option value="">mar</option>
            <option value="">apri</option>
            <option value="">may</option>
            <option value="">jun</option>
            <option value="">july</option>
            <option value="">aug</option>
            <option value="">sep</option>
            <option value="">oct</option>
            <option value="">nov</option>
            <option value="">des</option>
            <option value="">sep</option>
        </select>
        <select>
            <option value="">year</option>
            <option value="">2001</option>
            <option value="">2002</option>
            <option value="">2003</option>
            <option value="">2004</option>
            <option value="">2005</option>
            <option value="">2006</option>
            <option value="">2007</option>
            <option value="">2008</option>
            <option value="">2009</option>
            <option value="">2010</option>
            <option value="">2011</option>
            <option value="">2012</option>
            <option value="">2013</option>
            <option value="">20014</option>
            <option value="">2015</option>
            <option value="">2016</option>
            <option value="">2017</option>
            <option value="">2018</option>
            <option value="">2019</option>
            <option value="">2020</option>
            <option value="">2021</option>
            <option value="">2022</option>
        </select>
        <h5 class="gen">Gender</h5>
        <input type="radio">Male
        <input class="ma" type="radio">Female
        <input class="fe" type="radio">Other
        <h6 class="text">
            <pre> By clicking Sign Up, you agree to our Terms,
 Data Policy and Cookie Policy. You may receive
 SMS notifications from us and can opt out at any time.
  any time.</pre>
        </h6>
        <button class="btn">Signup</button>
    </div>
</div>