.container-fulied {
    background-color: #EBEDF0;
}

.header-section {
    padding: 8px;
    background-color: blue;
}

.section-sections {
    text-align: center;
}

.section-right {
    margin-left: 350px;
    // padding: 10px;
}

.frist,
.mn,
.pass,
.bri,
.gen {
    margin-top: 10px;
    padding: 5px;
}

.sure,
.ma,
.fe {
    margin-left: 15px;
    padding: 2px;
}

.acc {
    text-align: center;
}

.btn {
    text-align: center;
    background-color: #5E994B;
    width: 25%;
    height: 20%;
}