.container {
    display: flex;
    flex-direction: row;
    .imag {
        border-radius: 50%;
    }
    .right-section {
        text-align: center;
        // justify-content: center;
        margin: 10px;
    }
}

// .hai {
//     background-color: pink;
// }